*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgba(127, 200, 25, 0.879);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0.40px 5px rgb(0, 208, 255);
}
.container .left_side
{
    position: relative;
    padding: 40px;
    background-color:  rgb(127, 255, 153);
    border-bottom: 2px solid blueviolet;
}
.profile_text
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
    
}
.profile_text .imgbox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_text .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profile_text h2
{
    color: brown;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 700px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;

}
.contactInfo
{
    padding-top: 20px;

}
.title
{
    color: brown;
    font-weight: 600px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    color: blue;
    display: inline-block;
    font-size: 20px;
    width: 30px;
}
.contactInfo ul li .text
{
    color: brown;
    font-size: 20px;
}
.contactInfo.education li
{
    margin-bottom: 10px;
}
.contactInfo.education h5
{
    color:blue;
    font-size: 20px;

}
.contactInfo.education h4:nth-child(2)
{
    color:brown;
    font-weight: 500px;
}
.contactInfo.education h4
{
    color:brown;
    font-weight: 300px;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    display: block;
    height: 5px;
    background-color: rgba(0, 0, 255, 0.304);
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background-color: blue;
}
.container .right_side
{
    background-color: hotpink;
    padding: 40px;
    position: relative;

}
.about
{
    margin-top: 30px;
}
.about :last-child
{
    margin: 0;
}
.title2
{
    font-weight: 600px;
    color: white;
    margin: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p
{
    font-size: 22px;
    color: darkred;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_comp 
{
    min-width: 150px;
}
.about .box .year_comp h4
{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}
.about .box .text h5
{
    text-transform: uppercase;
    color: midnightblue;
    font-size: 20px;
}
.skills .box
{
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    font-weight: 600;
    color:  midnightblue;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: bisque;
}
.skills .box .percent div
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: brown;
}
.hobbies ul
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.hobbies ul li
{
    list-style: none;
    color:  midnightblue;
    font-weight: 600;
    margin: 5px 0;
    
}
.hobbies ul li .fa
{
    color: brown;
    font-size: 18px;
    margin: 10px;
    
}