*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: honeydew;
}
.container
{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box
{
    max-width: 800px;
    padding: 10px;
    background-color: rgb(149, 203, 203);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(44, 72, 63);
    border-radius: 20px;
}
.title_small
{
    font-size: 20px;
}
.form_container
{
    margin-top: 20px;
    margin-left: 20px;
    gap:20px;
}
label
{
    font-size: 15px ;
    margin-bottom: 5px;
}
input,select,textarea
{
    padding: 6px 10px;
    border:1px solid blue;
    border-radius: 3px;
    font-size: 15px;
}
input:focus
{
    outline-color: aqua;
}
.button_container
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}
button
{
    background-color: slateblue;
    border:transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    transition: 0.5s ease-in;
}
button:hover
{
    background-color: red;
    border: 2px solid black;
    transition: 0.5 ease-out;
    cursor: pointer; 
}

