*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: sans-serif;
}
.container
{
    height: 100vh;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
    background: url('https://source.unsplash.com/random') no-repeat;
    background-size: cover;
    background-position: center;
}
.container .content
{
    text-align: center;
    margin-top: 200px;
}
.container .content p
{
    display: flex;
    text-align: center;
    justify-content: cetre;
    margin: 10px 100px;
    padding-bottom: 30px ;
    font-size: 30px;
}
.container .content button
{
    height: 50px;
    width: 200px;
    background-color: aqua;
    cursor: pointer;
    color: brown;
    font-size: 22px;
    font-weight: 500px;
    border-radius: 20px; 
     
}
#colors button
{
    height: 40px;
    width: 200px;
    cursor: pointer;
    color:black;
    font-size: 22px;
    font-weight: 500px;
    border-radius: 20px;
    margin-top: 20px;
    
}